<StackLayout>
    <TextField 
        [(ngModel)]="newQuestion.question"
        autocorrect="false" 
        hint="QUESTION">
    </TextField>
    <TextField 
        [(ngModel)]="newQuestion.response"
        autocorrect="false"
        hint="REPONSE">
    </TextField> 
    
    <GridLayout  orientation="horizontal" height="50"columns="200, 200" >
        <Button [col]="0" fontSize="20" text="VRAI" 
                background="red" color="white" (tap)="check(true)">
        </Button>
        <Button [col]="1" fontSize="20" text="FAUX" 
                background="green" color="white" (tap)="check(false)">
            </Button>
    </GridLayout>
    
            <Button [col]="0" fontSize="20" text="NIVEAU" 
                    background="blue" color="white" (tap)="level()">
            </Button>
            <Button [col]="1" fontSize="20" text="CATEGORIE" 
                    background="blue" color="white" (tap)="category()">
                </Button>
        


    <Button text="Ajouter" (tap)="addQuestion()"></Button>
    <Label [text]='log' color="blue"></Label>
    
    <!-- Liste des questions existantes -->
    <list-question></list-question>
</StackLayout>
    